@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button.standard-btn {
    background-color: rgb(244, 206, 20);
    border: none;
    color: #000000;
    padding: 1em 2em;
    border-radius: 1em;
    font-weight: 500;
    font-size: 1em;
}

button.standard-btn:hover {
    filter: brightness(0.9);
    cursor: pointer;
    transition: 0.3s ease filter;
}