.call-to-action-container {
    display: flex;
    justify-content: space-between;
    color: white;
}

.call-to-action-container::before {
    content: "";
    background-color: rgb(73, 94, 87);
    width: 100%;
    height: 24rem;
    position: absolute;
    left: 0;
    z-index: -1;
}

.call-to-action-container > .content-item-1,
.call-to-action-container > .content-item-2 {
    margin-top: 2em;
}

.call-to-action-container > .content-item-1 h1 {
    color: #d4b20f;
    font-family: "Markazi Text", serif;
    font-size: 4em;
    font-weight: 600;
    margin: 0;
    line-height: 0.7em;
}

.call-to-action-container > .content-item-1 h2 {
    font-size: 2.5em;
    font-weight: 400;
    margin: 0;
    font-family: "Markazi Text", serif;
}

.call-to-action-container > .content-item-1 button a {
    text-decoration: none;
    color: inherit;
}

.call-to-action-container > .content-item-1 p.actionable-text {
    font-size: 1em;
    font-weight: 400;
    max-width: 15em;
    font-family: "Poppins", sans-serif;
    margin: 1.2em 0 0.7em 0;
}

.call-to-action-container > .content-item-2 img {
    width: 24rem;
    height: 27rem;
    border-radius: 2em;
    object-fit: cover;
}